@charset "UTF-8";

/* 
	-------------------------------------------
	svg спрайт
	-------------------------------------------
*/

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-brainstorm {
  font-size: 29.6429rem;
  width: 1em;
}

.icon-face {
  font-size: 2.4rem;
  width: 1.20833em;
}

.icon-gamepad {
  font-size: 30rem;
  width: 1em;
}

.icon-placeholder {
  font-size: 29.9997rem;
  width: 1em;
}

.icon-smartphone {
  font-size: 3.5rem;
  width: 1em;
}

.icon-youtube-4 {
  font-size: 2.4rem;
  width: 1em;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  min-width: 320px;
  position: relative;
  font-family: "OpenSansRegular", sans-serif;
  background-color: #fff;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  padding: 0;
  outline: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.h1 {
  font-size: 3rem;
}

/* 
	-------------------------------------------
	GRID
	-------------------------------------------
*/

.page-wrap {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.container {
  position: relative;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* 
	-------------------------------------------
	BUTTONS
	-------------------------------------------
*/

.page-title {
  margin-bottom: 50px;
  text-align: center;
}

.svg-sprites-section {
  margin-bottom: 80px;
  text-align: center;
}

/* Стили для SVG  иконок */

.icon {
  margin: 0 20px;
}

.icon-face {
  font-size: 2rem;
  width: 1.20833em;
}

.icon-face.face-mod {
  fill: grey;
}

.icon-smartphone {
  font-size: 3rem;
  width: 1em;
}

.icon-smartphone.smartphone-mod {
  fill: purple;
}

.icon-youtube-4 {
  font-size: 3.625rem;
  width: 1em;
}

.icon-youtube-4.youtube4-mod {
  fill: tomato;
  -webkit-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
}

.icon-youtube-4.youtube4-mod:hover,
.icon-youtube-4.youtube4-mod:active {
  fill: red;
}

.icon-gamepad {
  font-size: 7.5rem;
  width: 1em;
}

.icon-gamepad.gamepad-mod {
  color: lightblue;
  -webkit-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
}

.icon-gamepad.gamepad-mod:hover,
.icon-gamepad.gamepad-mod:active {
  color: grey;
}

.icon-placeholder {
  font-size: 8.75rem;
  width: 1em;
}

.icon-brainstorm {
  font-size: 12.5rem;
  width: 1em;
}

.icon-brainstorm.brainstorm-mod {
  color: red;
  -webkit-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
}

.icon-brainstorm.brainstorm-mod:hover,
.icon-brainstorm.brainstorm-mod:active {
  color: purple;
}

/* Стили для PNG  иконок */

.png-sprites-section {
  margin-bottom: 80px;
  text-align: center;
}

.icon-png {
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
}

.icon-png__flashlight {
  background-image: url(../img/png-sprite.png);
  background-position: 0px -98px;
  width: 64px;
  height: 64px;
}

.icon-png__flashlight:hover,
.icon-png__flashlight:focus {
  background-image: url(../img/png-sprite.png);
  background-position: -98px 0px;
  width: 64px;
  height: 64px;
}

.icon-png__instagram {
  background-image: url(../img/png-sprite.png);
  background-position: -164px 0px;
  width: 48px;
  height: 48px;
}

.icon-png__instagram:hover,
.icon-png__instagram:focus {
  background-image: url(../img/png-sprite.png);
  background-position: -66px -98px;
  width: 48px;
  height: 48px;
}

.icon-png__weather {
  background-image: url(../img/png-sprite.png);
  background-position: -164px -50px;
  width: 48px;
  height: 48px;
}

.icon-png__whatsapp {
  background-image: url(../img/png-sprite.png);
  background-position: 0px -164px;
  width: 48px;
  height: 48px;
}

.icon-png__whatsapp:hover,
.icon-png__whatsapp:focus {
  background-image: url(../img/png-sprite.png);
  background-position: -164px -100px;
  width: 48px;
  height: 48px;
}

.block-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #3498db;
}

.block-list li {
  width: 23.61111%;
  float: left;
  margin-left: 0.69444%;
  margin-right: 0.69444%;
  background-color: #1abc9c;
  margin-bottom: 20px;
}

/* 
	-----------------------------------------------
		HEADER
	-----------------------------------------------
*/

.header {
  padding: 20px 0px;
  background-color: #F44336;
}

/* 
	-----------------------------------------------
		FOOTER
	-----------------------------------------------
*/

.footer {
  padding: 20px 0;
  background-color: #673AB7;
}

@media (max-width: 599px) {
  .block-list li {
    width: 98.61111%;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    background-color: #8e44ad;
  }
}

@media (min-width: 960px) and (max-width: 1279px) {
  .block-list li {
    width: 31.94444%;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    background-color: #f39c12;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .block-list li {
    width: 48.61111%;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    background-color: #e74c3c;
  }
}
/*# sourceMappingURL=main.css.map */
