h1 Start Project

.container
  .block-1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nemo, fuga, facilis ab ipsum consectetur reprehenderit mollitia aspernatur culpa veritatis.
  .block-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nemo, fuga, facilis ab ipsum consectetur reprehenderit mollitia aspernatur culpa veritatis.
  .block-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nemo, fuga, facilis ab ipsum consectetur reprehenderit mollitia aspernatur culpa veritatis.
  
  img(src="img/cat.jpg", alt="")
