//- Подключаем "обертку" для всех встраниц
extends layouts/_pagewrapper


//- заголовок
block title
	title Start Page


//- секции, блоки и тд. самой страницы
block section
	.page-wrap
		include partials/_start


//- по необходимости js код
block scripts
		
