//- миксин для добавления иконок спрайта
mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="img/icon-svg/main-sprite.svg#" + name)


.container.page-title
	h1 Project elements



.container.sprites-section
	h2 SVG Icons
	+icon('face', 'face-mod')
	+icon('smartphone', 'smartphone-mod')
	+icon('youtube-4', 'youtube4-mod')
	+icon('gamepad', 'gamepad-mod')
	+icon('placeholder', 'placeholder-mod')
	+icon('brainstorm', 'brainstorm-mod')
