//- "Обертка" для всех страниц
//- ---------------------------------------------

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(meta name="format-detection" content="telephone=no")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		//- meta(name="viewport" content="width=device-width, maximum-scale=1.0")

		
		block title
			| Page Title
		
		//- подключаем шрифты до загрузки стилей
		script(src="js/font-loader.js")

		// build:css css/vendor.min.css
		link(rel="stylesheet", href="bower_components/normalize-css/normalize.css")
		// endbuild

		// build:css css/main.min.css
		link(rel="stylesheet", href="css/main.css")
		// endbuild
	
		
	body
		
		block section
				

		// build:js js/vendor.min.js
		script(src='bower_components/jquery/dist/jquery.js')
		script(src='bower_components/svg4everybody/dist/svg4everybody.js')
		// endbuild
		
		// build:js js/main.min.js
		script(src='js/function.js')
		// endbuild

		block scripts
			